/assets/images
/assets/music
/assets/scripts/bootstrap
/assets/scripts/gsap
/assets/scripts/jquery-3.5.1.js
/assets/scripts/jquery-3.5.1.min.js
/assets/styles/bootstrap
/assets/styles/fontawesome
/assets/styles/webfonts
projects/demo01/.htaccess
ads.txt
favicon.ico
nodejs/node_modules
db_config.php