* {
  font-family: verdana;
}

p.img {
    margin-top: 3rem;
  }

a.btn {
    margin-bottom: 1rem;
}

.col-sm-2{
  padding-right: 5px;
  padding-left: 5px;
}

#tiger {
  max-width: 50%;
  max-height: 200px;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 25px;
  display: none;
}

.hide {
  overflow: hidden;
  transform: translateY(100%);
  display: inline-block;
}

#navbar {
  transition: 0.4s;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #876ccf;
}

#musicPlayer {
  height: 25px; 
  max-width: 100%;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 99;
  background: rgb(124, 12, 158);
  border-top: solid rgb(141, 116, 255) 2px;
  background-color: #876ccf;
  -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
  box-shadow: 0px -5px 15px 0px #bfbfbf;
  height: 25px;

}

:root{
  --tl: calc(1100px - 100%); /* transition length */
}

.container-outer {
  max-width: 1100px;
  /* update the width of the display contaier as per your requirement */
}
.container-width {
  width: 1800px;
  /* Total width of the whole iframe, based on the number of tickers displaying */
  animation: marquee 60s linear infinite;
}
.container-width:hover {
  animation-play-state: paused
}

.container-outer {
  margin: 0 auto;
  position: relative;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.container-inner {
  height: 100px;
  margin-top: -1px;
}

#notify {
  margin-top: 30px;
}

.icn {
  margin-right: 5px;
}

.col-sm-3.quasar:hover .doc-header__logo-img {
  transform: rotate(-360deg);
}

.doc-header__logo-img {
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(var(--tl), 0); }
}
