* {
  font-family: verdana;
}

p.img {
    margin-top: 3rem;
  }

a.btn {
    margin-bottom: 1rem;
}

.col-sm-2{
  padding-right: 5px;
  padding-left: 5px;
}

#tiger {
  max-width: 50%;
  height: 200px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.hide {
  overflow: hidden;
  transform: translateY(100%);
  display: inline-block;
}

#navbar {
  transition: 0.4s;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #876ccf;
}

#musicPlayer {
  height: 25px; 
  max-width: 100%;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 99;
  background: rgb(124, 12, 158);
  border-top: solid rgb(141, 116, 255) 2px;
  background-color: #876ccf;
  -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
  box-shadow: 0px -5px 15px 0px #bfbfbf;
  height: 25px;

}