* {
  font-family: verdana;
}

p.img {
    margin-top: 3rem;
  }

a.btn {
    margin-bottom: 1rem;
}

.col-sm-2{
  padding-right: 5px;
  padding-left: 5px;
}

#tiger {
  max-width: 50%;
  height: auto;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.hide {
  overflow: hidden;
  transform: translateY(100%);
  display: inline-block;
}

#navbar {
  transition: 0.4s;
}